#inicio .ui-content,#registro .ui-content,#principal .ui-content,#reservacion .ui-content{
	text-align: center;
}

#inicio img{
	margin-bottom: 20px;
}

#inicio button,#registro button,{
	margin: 20px 0;
}

#principal img{
	margin-top: 70px;
}

.menu-btn{
	padding: 20px
}

